fieldset, legend {
    margin: 0;
    padding: 0;
}

body {
    font-family: '.SFNSDisplay-Regular', 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

fieldset {
    border: none;
}

    fieldset > legend {
        font-size: 14px;
    }

    fieldset > p {
        padding-left: 20px;
    }

label + label {
    margin-left: 1ex;
}


textarea {
    display: block;
    width: 100%;
    font: normal 12px monospace;
}

input[type="radio"] {
    vertical-align: text-bottom;
}

.footnote {
    font-style: italic;
}

.controls {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}
